@model DEMOCRUD.Models.db.Products
@{
    ViewData["Title"] = "Create";
}

<h3 class="alert-success text-center col-md-6">เพิ่มสินค้าใหม่</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 card card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label">ชื่อสินค้า</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupplierId" class="control-label">บริษัทจำหน่าย</label>
                    <select asp-for="SupplierId" class="form-control" 
                            asp-items="ViewBag.SupplierId">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">ประเภทสินค้า</label>
                    <select asp-for="CategoryId" class="form-control" 
                            asp-items="ViewBag.CategoryId">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="QuantityPerUnit" class="control-label">จำนวน/หน่วย</label>
                    <input asp-for="QuantityPerUnit" class="form-control" />
                    <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Discontinued" /> 
                        ยกเลิกจำหน่าย?
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="เพิ่มสินค้าใหม่" class="btn btn-success btn-block" />
                </div>
            </form>
            <div>
                <a asp-action="Index" class="btn btn-primary btn-block">แสดงสินค้าทั้งหมด</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
